:root {
    --white-color: #FFFFFF;
    --off-white-color: #FDF7F4;
    --dark-orange-color: #FFA724;
    --black-color: #000000;
    --light-orange-color: #FFD18C;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    font-family: "Inter", sans-serif;
    font-weight: 400;
}

/* Header section - Start */
header, button, .account-pill {
    background-color: var(--white-color);
}

.container {
    min-width: 45rem;
    text-align: center;
    background-color: var(off-white-color);
}

/* I was having the same thought here about not wanting to leave out the h1
but it didn't seem appropriate for the Accounts and Spendings headers. Found
the solution in the code help channel. Thanks to Vincent for asking the question
and Geoffrey for the answer :) */
.sr-only {
    border: 0 !important;
    clip: rect(1px, 1px, 1px, 1px) !important; 
    -webkit-clip-path: inset(50%) !important;
        clip-path: inset(50%) !important; 
    height: 1px !important;
    margin: -1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
    white-space: nowrap !important;            
}

.logo {
    width: 22.5rem;
    padding: 2.8125rem;
}

.home-page-nav {
    font-size: 1.5625rem;
}

.home-page-nav-list {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 3.125rem;
    list-style-type: none;
    background-color: var(--light-orange-color);
    padding: 1.25rem;
}

.home-page-nav-link {
    text-decoration: none;
    /* Needed for the underline */
    position: relative;
    color: var(--black-color);
    padding: 0.2em 0;
}

/* Code for the underline to transition - Set up */
.home-page-nav-link:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.1em;
    background-color: var(--black-color);
    opacity: 1;
    transform: scale(0);
    transform-origin: center;
    transition: transform 300ms;
}

/* Code for the underline to transition - View on hover */
.home-page-nav-link:hover:after,
.home-page-nav-link:focus:after{
    transform: scale(1);
} 

/* Header section - End */

/* Buttons section - Start */
.btn {
    border: 0.3125rem solid var(--dark-orange-color);
    border-radius: 3.125rem;
    font-size: 1.875rem;
    padding: 1rem 1.25rem;
    margin: 2rem 0 2.625rem 0;
    cursor: pointer;
    min-width: 11rem; 
    max-width: 15.625rem;
}

.btn:hover {
    background-color: var(--light-orange-color);
}

.pay-btn {
    margin-right: 0.5rem;
}

.transfer-btn {
    margin-left: 0.5rem;
}

/* Buttons section - End */

/* Accounts section - Start */
/* This is the class when only the accounts are showing */
.finances-container {
    margin: 0 auto;
    /* Stop collapsing margin */
    padding-bottom: 1px;
}

/* This is the class when an account is selected and spendings are shown */
.finances-container-flex {
    display: flex;
    max-width: 87.5rem;
    gap: 2.5rem;
    margin: 0 auto;
    padding: 0 1.25rem;
}

.accounts, .spendings {
    max-width: 45.625rem;
    margin: 0 auto 2.375rem;
    /* The sections should fill the container rather than shrinking for the content */
    width: 100%;
}

.accounts h2, .spendings h2 {
    font-size: 2.5rem;
    margin-bottom: 1.5625rem;
    text-align: left;
}

.account-pill, .spending-pill {
    display: flex;
    justify-content: space-between;
    border-radius: 1rem;
    gap: 0.625rem;
}

.account-pill {
    padding: 2.1875rem 2.8125rem;
    background-color: var(--white-color);
    border: 5px solid var(--dark-orange-color);
    margin-bottom: 0.75rem;
    font-size: 1.5625rem;
    max-width: 45.625rem;
    min-width: 25rem;
}

/* Needed so the child elements of account-pill trigger the onclick of the parent */
.account-pill p {
    pointer-events: none;
}

.account-pill:hover,
.spending-pill:hover {
    transform: scale(1.05);
    background-color: var(--light-orange-color);
}

.spending-pill {
    padding: 0.75rem 1rem;
    background-color: var(--light-orange-color);
    font-size: 1.25rem;
    color: #000000;
    min-width: 15.625rem;
    margin-bottom: 1.25rem;
}

/* Accounts section - End */

/* Utility classes */
.dark-text {
    font-weight: 700;
}