/*
COLOR PALETTE

BLACK: #000000

WHITE: #FFFFFF
LIGHT: #FDF7F4

ORANGE: #FFD18C
DARK ORANGE: #FFA724
*/

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    font-family: "Inter", sans-serif;
    background-color: #E5E7EB;
}

.container {
    /* max-width: 1440px; */
    min-width: 400px;
    margin: 0 auto;
    text-align: center;
    background-color: #FDF7F4;
    padding: 1px;
}

/* Header section */

header, button {
    background-color: #FFFFFF;
}

nav {
    font-size: 25px;
    font-weight: 400;
}

ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
    list-style-type: none;
    background: #FFD18C;
    padding: 20px;
}

a {
    text-decoration: none;
    color: #000000;
}

a:hover,
a:focus {
    cursor: pointer;
    text-decoration: underline;
}

.logo {
    width: 360px;
    padding: 45px;
}

/* Section buttons */
.btn {
    border: 5px solid #FFA724;
    border-radius: 50px;
    font-size: 30px;
    font-weight: 700;
    padding: 15px 20px;
    margin: 33px 0 42px 0;
    cursor: pointer;
    min-width: 175px; 
    max-width: 250px;
    
}

.btn:hover {
    background-color: #FFA724;
}

.pay-btn {
    margin-right: 8px;
}

.transfer-btn {
    margin-left: 8px;
}

/* Accounts section */
.finances {
    margin: 0 auto;
    width: 80%;
}

.finances-flex {
  display: flex;
  /* justify-content: stretch;
  flex: 0 0 auto; */
  /* flex-wrap: wrap; */
  /* flex-direction: row;
  justify-content: space-around; */
  gap: 40px;
  margin: 0 170px;
}

.accounts, .expenses {
    /* margin: 0 auto; */
    max-width: 730px;
    /* min-width: 530px; */
    
    margin: 0 auto 90px;
    width: 100%;
    /* display: flex;
    flex-direction: column; */

}

.accounts h1, .expenses h1 {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 25px;
    text-align: left;
}

.account-pill {
    padding: 40px 45px;
    background-color: #FFFFFF;
    border: 5px solid #FFA724;
    border-radius: 15px;
    margin-bottom: 12px;
    font-size: 25px;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    max-width: 730px;
    /* position: relative; */
}

.accounts .account-pill:focus {
    background-color: #FFD18C;
}

.expense-pill {
    padding: 15px 15px;
    background-color: #FFA724;
    border-radius: 15px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}